[Desktop Entry]
Type=Application
Encoding=UTF-8
Versino=1.5.0
Exec=/usr/local/teslacoil_cal/bin/tesla_calculator.sh
Name=Tesla Coil Calculator
Icon=/usr/local/teslacoil_cal/icon/tesla.ico
Terminal=false
categories=Utility;

