[Desktop Entry]
Type=Application
Version=1.0
Exec=tesla_calculator
Name=Tesla Coil Calculator
Icon=tesla_calculator
Terminal=false
Categories=Utility;
X-Deepin-Vendor=deepin
X-AppImage-Version=33d7307

