[Desktop Entry]
Type=Application
Encoding=UTF-8
Versino=1.5.0
Exec=tesla_calculator
Name=Tesla Coil Calculator
Icon=tesla_calculator
Terminal=false
categories=Utility;

